@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: "Roboto", sans-serif;
}

.container {
    max-width: 1370px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    background: #F3D7B7;
    padding: 40px 0;
}

.header__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: flex;
    align-items: center;
    gap: 40px;
}

.menu__link {
    color: #333;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.3s;
}

.menu__link:hover {
    color: #0A775F;
}

.banner {
    background: #F3D7B7;
}

.banner__wrap {
    display: flex;
    justify-content: space-between;
}

.banner__images {
    position: relative;
}

.banner__logo-img {
    position: absolute;
    top: -90px;
    left: -90px;
}

.banner__title {
    color: #000;
    font-size: 64px;
    font-weight: 700;
    margin-top: 100px;
}

.banner__p {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    max-width: 464px;
    margin-top: 24px;
}

.banner__btn {
    margin-top: 34px;
    background: #0A775F;
    color: white;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 16px 24px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: 0.3s;
}

.banner__btn:hover {
    transform: scale(1.1);
}

.collection {
    background: #F8F8F2;
    padding-top: 50px;
}

.collection__title {
    text-align: center;
    text-transform: uppercase;
    color: #000;
    font-size: 50px;
    font-weight: 700;
}

.collection__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.collection__item {
    display: flex;
    align-items: center;
    gap: 117px;
}

.collection__item-img {
    width: 450px;
    height: 375px;
}

.collection__item-title {
    color: #333;
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 10px;
}

.collection__item-p {
    color: #333;
    font-size: 22px;
    font-weight: 400;
    line-height: 34px;
}

.collection__item-desc{
    width: 453px;
}

.colection__img{
    position: absolute;
    left: -150px;
}

.collection__img-second{
    position: absolute;
    top: 1300px;
    right: 0;
}

.collection__img-last{
    position: absolute;
    left: -180px;
    bottom: -1550px;
}